.indicatorWrapper{
    .indicator{
        background-color: #00db93;
        width: 3em;
        height: 1em;
        border-radius: 2em;
        display: inline-block;
    }

    p{
        color:white;
        font-weight: 300;
        margin-top: 0;
    }
}

